# LureGuard profile: db-server (Debian database host persona)

[honeypot]
hostname = db-prod-01
listen_endpoints = tcp:2222:interface=0.0.0.0
fake_addr = 192.168.1.51
ssh_version = SSH-2.0-OpenSSH_7.4p1 Debian-10+deb9u7

[ssh]
enabled = true

[output_jsonlog]
enabled = true
logfile = var/log/cowrie/cowrie.json
