# LureGuard profile: dev-server (Ubuntu CI/dev box persona)

[honeypot]
hostname = dev-machine
listen_endpoints = tcp:2222:interface=0.0.0.0
fake_addr = 192.168.1.50
ssh_version = SSH-2.0-OpenSSH_8.9p1 Ubuntu-3ubuntu0.6

[ssh]
enabled = true

[output_jsonlog]
enabled = true
logfile = var/log/cowrie/cowrie.json
